@model OnMuhasebeUygulamasi.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}
<style type="text/css">
    input {
        margin-top: 15px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
 <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b style="color:#08B0F9">Kullanıcı Bilgileri</b></h3>
                </div>
                <div class="panel-body">
                    <center><img src="~/Content/img/account-icon.png" width="220" /></center>
                    <center>
                        <form role="form">
                            <fieldset>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @placeholder = "Eski Şifre", @style = "width:200px;" } )
                                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @Html.PasswordFor(model => model.NewPassword, new {  @class = "form-control", @placeholder = "Yeni Şifre", @style = "width:200px;" } )
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Yeni Şifre Tekrar", @style = "width:200px;" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <input style="width:200px;" type="submit" value="GÜNCELLE" class="btn btn-lg btn-success btn-block" />
                                </div>
                            </fieldset>
                        </form>
                    </center>
                </div>
              </div>
            </div>
        </div>
    </div>


}
